.intro {
  color: #fff; 
  margin: 0 auto; 
  width: 500px;
}

.intro>p {
  font-family: 'Roboto Mono', monospace;
  overflow:hidden; 
  white-space: nowrap; 
  width: 0%;
  border-right: .15rem solid white;
  animation: 
  blink-caret .75s step-end infinite;
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: white; }
}