.intro {
  color: #fff; 
  width: 500px;
}

.title {
  margin-bottom: 0;
  font-size: 2rem;
}
.subtitle {
  /* font-family: 'Roboto Mono', monospace; */
  font-weight: 300;
  font-size: 1.5rem;
  min-height: 1rem;
  margin-top: .5rem;
  margin-bottom: 1rem;
  /* overflow:hidden;  */
  white-space: wrap; 
  /* width: 0%; */
  /* border-right: .15rem solid white; */

}

.cursor {
  color: #E84D4D;
  font-weight: 600;
  animation: 
    blink .75s step-end infinite;
}
.button {
  text-decoration: none;
  padding: 5px 15px;
  margin-right: 10px;
  background-color:#00a8a8;
  color:#fff;
  border-radius: 5px;
  display: inline-block;
}

.button:hover {
  color:#fff;
  background-color:#007171;
}

.button:active {
  color:#fff;
  background-color:#00a8a8;
}

@keyframes blink {
  from, to { opacity: 0 }
  50% { opacity: 1; }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .intro {
    width: 90%;
  }
  .subtitle {
    height: 3.25rem;
    margin-bottom: 1rem;
  }
}