#experience {
  color: white;
  max-width: 960px;
  margin-top: 2rem;
  padding: 0 1rem;
}

.card {
  margin-bottom: 1.5rem;
  box-sizing: border-box;
}

.card-heading {
  margin-bottom: 1.5rem;
  border-left: 2px solid var(--red);
  padding-left: .5rem;
}

.card-heading.active {
  border-left: 7px solid var(--red);
}

.card-heading * {
  margin: 0;
  width: auto;
  cursor: pointer;
}

.card-content {
  margin-top: 0;
  line-height: 1.5rem;
}

.card-content ul{
  list-style-type: '- ';
  padding-inline-start: 1.5rem;
}



.card * {
  text-decoration: none;
}

.card a {
  color: white;
  font-weight: unset;
  text-decoration: underline 2px solid var(--cyan);
  
}