@import-normalize;

body {
  margin: 0;
  background-color: #212629;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* PROPOSED COLOURS */
/* 
#212629
#1e303b
#1b394d
#344550
#34393d
#333333
#00a8a8
#e84d4d 
*/