@import-normalize;

:root {
  --darker-gray: #212629;
  --dark-gray: #34393d;
  --darker-blue: #1e303b;
  --dark-blue: #1b394d;
  --light-gray: #909394;
  --cyan: #00a8a8;
  --red: #e84d4d;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  background-color: var(--darker-gray);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2rem;
}

h3 {
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

strong {
  font-weight: 700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c7e8a55;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px     rgba(0,0,0,0.5);
}

#root {
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  transition: background-color 0.2s ease;
}

