@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Poppins:wght@300;400;600;700;900&display=swap');

:root {
  --dark-gray: #1b2525;
  --gray: #bdc1c4;
  --light-gray: #dbe4e6;
  --blue-white: #effbff;
  --cyan: #00a8a8;
  --red: #e84d4d;

}

html {
  /* scroll-behavior: smooth; */
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
}

body {
  color: var(--gray);
  margin: 0;
  background-color: var(--dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  
  font-family: 'Poppins', sans-serif;
  color: var(--light-gray);
}

h1 {
  font-weight: 600;
  font-size: 1.5rem;
}

h2 {
  font-weight: 600;
  font-size: 1.2rem;
}

h3 {
  font-weight: 400;
  font-size: 1.1rem;
}

h4 {
  font-size: 1rem;
  font-weight: bold;
}

p, ul , li , a , blockquote {
  font-weight: 300;
}

strong {
  color: var(--light-gray);
  font-weight: 700;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5c7e8a55;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#root {
  margin: 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  align-items: center;
  transition: background-color 0.2s ease;
}

