.fixed-nav {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width:100vw;
  padding: 0 20px;
  z-index: 1000;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, .2); */
}
.inner {
  display: flex;
  justify-content: space-around;
}
.fixed-nav a {
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding-top: 20px;
  flex: 1;
}

.underline {
  margin: 0 auto;
  margin-top: 10px;
  width: 80px;
  border-bottom: 3px solid var(--red);
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .inner {
    width:100%;
  }

  .underline {
    width: 75px;
  }
}